.left {
  float: left;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  font-size: 100pt;
  position: relative;
}
.clear {
  clear: left;
}

.o{
  background: red;
}

.x{
  background: blue;
}

.align{
  position: absolute;
  top: -110px;
  left: 55px;
/*  text-align: center;
  vertical-align: middle;*/
}