.border {
  margin-left: 20%;
}
.left {
  float: left;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  font-size: 100pt;
  position: relative;
}
.clear {
  clear: left;
}

.o{
  background: red;
}

.x{
  background: blue;
}

.align{
  position: absolute;
  top: -110px;
  left: 55px;
/*  text-align: center;
  vertical-align: middle;*/
}

#overlay{
  position: absolute;
  top: 280;
  width: 1000px;
  height: 100px;
  font-size: 50pt;
  text-align: center;
  background: gray;
  opacity:0.6;
}